/* Generales */
*{
  font-family: $rale;
}
.partes{
  width: 100%;
  height: 100vh;
}
.sinpad{
  padding: 0 !important;
}
.textos{
  p{
    font-size: 1.5em;
  }
  h1{
    font-size: 6em;
    line-height: 0.8em;
    font-weight: bolder;
    font-family: sans-serif;
    margin-top: 100px;
  }
}

.p-top{
  padding-top: 30px;
  padding-left: 30px;
}
.p-le{
  padding-left: 30px;
}
.fondos{
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  color: $wh;
}
.basesalta{
  padding: 100px 50px;
  height: 100vh;
}

/* ------- Desktop --------- */

@-webkit-keyframes MoveUpDown {
    from {
        top: 40px;
    }
    to {
        top: 60px;
    }
}
@-moz-keyframes MoveUpDown {
    from {
        top: 40px;
    }
    to {
        top: 60px;
    }
}
/* Bienvenida*/
#bienvenida-desk{
  padding: 40px 0;
  .logo-empresa{
    width: 150px;
  }
  .logo-animado{
    max-width: 550px;
    margin-bottom: 80px;
    width: 100%;
  }
  .scroll-downs {
    position: relative;
    right: 0;
    bottom: 20px;
    left: 0;
    margin:  auto;
    width :34px;
    height: 55px;
    img{
      width: 40%;
    }
    .mousey {
      width: 3px;
      padding: 10px 10px;
      height: 35px;
      border: 2px solid #fff;
      border-radius: 12px;
      opacity: 0.75;
      .scroller {
        width: 2px;
        height: 10px;
        border-radius: 25%;
        background-color: #fff;
        margin-left: -1px;
      }
    }
    .arrow-down{
      padding: 0px 0px 0px 0px;
      margin-right: 8px;
      border-radius: 100%;
      position: absolute;
      top: 40px;
      left: 7px;
      -webkit-animation: MoveUpDown 0.8s linear infinite;
      -webkit-animation-direction: alternate;
      -moz-animation: MoveUpDown 0.8s linear infinite;
      -moz-animation-direction: alternate;
    }
  }
}
/**/



/* Video */
#video-desk{
  iframe {
    width: 100%;
  }
}

/* Nuestras propuestas */

#propuestas-desk{
  background: url(../img/parallax-3.jpg);
  @extend .fondos;
}

/* Razones */

#razones{
  padding: 60px 0;
  .numbers{
    p{
      font-size: 1em;
      text-align: center;
      width: 70%;
      margin: 0 auto;
    }
    h2{
      font-size: 3em;
      font-weight: bolder;
      font-family: sans-serif;
      color: $rosao;
    }
  }
}

/* Campaña */

.camp{
  background: url(../img/parallax-1.jpg);
  @extend .fondos;
}

/* Por qué */

#porque{
  position: relative;
  .pors{
    box-sizing: border-box;
    color: $wh;
    padding: 0 !important;
    overflow: hidden;
    background-color: black;
    .foti{
      height: 100%;
      width: 100%;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      &:hover{
      -webkit-filter: opacity(50%); /* Safari 6.0 - 9.0 */
      filter: opacity(50%);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      }
    }
    .noti{
      z-index: 1;
      position: absolute;
      top: 40%;
      left: 25%;
      width: 200px;
    }

    &.luchito{
      @extend .fondos;
      height: 100vh;
    }
    &.yann{
      @extend .fondos;
      height: 50vh;
    }
    &.ivan{
      @extend .fondos;
      height: 50vh;
    }
    &.loquita{
      @extend .fondos;
      height: 50vh;
    }
  }

}

/* porciones */

#porciones{
  background: url(../img/parallax-2.jpg);
  @extend .fondos;
}

/* saltarines */

.saltarines{
  .textosalto{
    padding: 50px !important;
    strong{
      font-size: 1.8em;
      font-weight: bolder;
    }
    .saltarin{
      width: 100%;
      max-width: 300px;
    }
  }
  .creambg{
    background-color: $cremita;
  }
  .morabg{
    background-color: $morao;
  }
  .rosaobg{
    background-color: $chicle;
  }
  .azulbg{
    background-color: $azulino;
  }
  .amarbg{
    background-color: $amarillo-crema;
  }
  .sectionxs{
    height: 100px;
  }
}

/*faq */
#faq{
  background: url(../img/parallax-4.jpg);
  @extend .fondos;
}

/*slide*/
#slide{
  .flechas{
    color: $wh;
    font-size: 6em;
  }
}

#vision{
  background-color: $wh;
  padding: 50px !important;
  h4{
    font-weight: bolder;
  }
  .hacheerre{
    width: 50px;
    border: 2px solid black;
    margin-bottom: 30px;
  }
  .vimg{
    img{
      width: 100%;
    }
  }
}

/* footer */


footer{
  padding: 25px 0;
  background-color: $grisote;
  img{
    width: 100%;
  }
  p{
    color: $grisfoo;
  }
}

/* queries*/

@media (max-width: 500px) {
  .textos{
    p{
      font-size: 1em;
    }
    h1{
      font-size: 3em;
      line-height: 0.8em;
      font-weight: bolder;
      font-family: sans-serif;

    }
  }
  .basesalta{
    padding: 100px 50px;
    height: auto !important;
  }
  .logo-animado{
    margin-top: 100px;
  }
}