/* Colores */

$amarillo: #ED9A9D;
$wh: #FFF;
$rosao: #ED9A9D;
$cremita: #F0E7AE;
$morao: #8EC641;
$chicle:#ED9A9D;
$celestin: #3D5A11;
$amarillo-crema: #F9BF46;
$azulino: #3D5A11;
$grisito: #F9F9F9;
$grisote: #3B3B3B;
$grisfoo: #626262;

 /* Tipografía*/
$rale: 'Raleway', sans-serif;
$thin: 500;
$mid: 700;
$black: 900;